.heading {
  margin-bottom: 16px;
  border-bottom: 1px solid #000; }
  .heading h2 {
    font-size: 1.375rem;
    text-transform: uppercase;
    font-weight: bold; }

.tag-category {
  margin-bottom: 10px;
  display: block; }
  .tag-category a {
    font-size: 0.75rem;
    border-radius: 2px;
    padding: 1px 8px;
    background-color: #F6F6F6;
    display: inline-block;
    color: #fff; }

.tag-category.industry a {
  background-color: #e61e25; }

.tag-category.parts a {
  background-color: #ffa800; }

.tag-category.columns a {
  background-color: #0052CC; }

.tag-category.how a {
  background-color: #15a24c; }

.dotted-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  height: 40px; }

.dotted-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5;
  height: 60px; }

.list-news .news-items {
  padding: 16px 0;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  float: left; }
  .list-news .news-items > a {
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    position: relative;
    margin-bottom: 16px;
    display: block; }
    .list-news .news-items > a > p.tag-category {
      font-size: 0.75rem;
      border-radius: 2px;
      padding: 1px 8px;
      background-color: #F6F6F6;
      display: inline-block;
      color: #fff;
      position: absolute;
      bottom: 16px;
      left: 16px; }
    .list-news .news-items > a > p.ranking-num {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #e61e25;
      color: #fff;
      line-height: 19px;
      min-width: 19px;
      text-align: center; }
    .list-news .news-items > a > img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      display: block; }
    .list-news .news-items > a:hover {
      opacity: 0.6 !important; }
  .list-news .news-items > .news-items-body {
    padding: 0 16px; }
    .list-news .news-items > .news-items-body .title {
      margin-bottom: 6px; }
      .list-news .news-items > .news-items-body .title a {
        color: #000;
        font-weight: bold;
        font-size: 1.125rem; }
        .list-news .news-items > .news-items-body .title a:hover {
          text-decoration: underline; }
    .list-news .news-items > .news-items-body .meta {
      display: block; }
      .list-news .news-items > .news-items-body .meta > .category {
        color: #0052CC;
        float: right; }
        .list-news .news-items > .news-items-body .meta > .category:hover {
          text-decoration: underline; }
      .list-news .news-items > .news-items-body .meta > time {
        color: #676D70; }
    .list-news .news-items > .news-items-body .summary {
      margin-bottom: 6px;
      color: #676D70; }
.list-news.grid .news-items {
  margin-bottom: 24px;
  border-bottom: none; }
  .list-news.grid .news-items > .news-items-body {
    padding: 0; }

@media (min-width: 992px) {
  .list-news .news-items {
    display: flex;
    align-items: flex-start;
    position: relative; }
    .list-news .news-items > a {
      margin-bottom: 0;
      width: 160px;
      height: 122px; }
    .list-news .news-items > .news-items-body {
      flex: 1; }
      .list-news .news-items > .news-items-body .title {
        min-height: 54px; }
    .list-news .news-items .tag-category {
      margin-bottom: 10px;
      display: block;
      position: absolute;
      max-width: 148px;
      top: 111px;
      left: 6px; }
  .list-news.grid .news-items {
    display: initial;
    align-items: initial;
    float: left;
    clear: none; }
    .list-news.grid .news-items > a {
      margin-bottom: 8px;
      width: 100%;
      height: auto; }
    .list-news.grid .news-items > .news-items-body {
      flex: initial; } }
.ads {
  margin: 24px 0;
  width: 100%;
  float: left;
  position: relative;
  text-align: center; }
  .ads img {
    max-width: 100%;
    object-fit: cover; }

.icon-social-facebook-side {
  background-position: -132px -66px; }

.icon-social-twitter-side {
  background-position: -176px -66px; }

.container_page {
  margin: 24px auto;
  background-color: #fff;
  position: relative; }
  .container_page .ads-left {
    position: absolute;
    top: 0;
    left: -225px; }
  .container_page > .sidebar {
    width: 300px;
    margin-left: 24px; }
    .container_page > .sidebar > .wrapper-ranking, .container_page > .sidebar .wrapper-youtube {
      margin-bottom: 24px; }
    .container_page > .sidebar > .wrapper-ranking > .list-news > .news-items:first-child {
      padding-top: 0; }
    .container_page > .sidebar > .wrapper-ranking > .list-news > .news-items > a {
      width: 105px;
      height: 80px; }
    .container_page > .sidebar > .wrapper-ranking > .list-news .title a {
      font-size: 0.875rem; }
    .container_page > .sidebar > .wrapper-ranking > .heading h2 {
      text-transform: none; }
  .container_page .follow-us {
    background-color: #F6F6F6;
    display: block; }
    .container_page .follow-us > .heading {
      margin-bottom: 0;
      border-bottom: none; }
      .container_page .follow-us > .heading h2 {
        padding: 15px;
        text-transform: none; }
    .container_page .follow-us > .follow-us-ct {
      margin-bottom: 10px;
      width: 100%;
      padding: 0 7px;
      display: inline-block; }
      .container_page .follow-us > .follow-us-ct > li {
        padding: 0 7px;
        width: 50%;
        float: left; }
        .container_page .follow-us > .follow-us-ct > li > a {
          text-transform: uppercase;
          color: #fff;
          border-radius: 3px;
          text-align: center;
          padding: 10px;
          width: 100%;
          float: left; }
        .container_page .follow-us > .follow-us-ct > li > .btn-facebook {
          background-color: #3B5999; }
        .container_page .follow-us > .follow-us-ct > li > .btn-twitter {
          background-color: #55ACEE;
          position: relative; }

/*# sourceMappingURL=category.css.map */
