
.page-post .name-title{margin-bottom: 20px;}
.page-post .name-title input{font-size: 1.5rem}
.page-post .content-main textarea{font-size: 1.3rem; height: auto;}
.page-post .wrapper-setting textarea{font-size: 1.1rem; height: auto;}
.page-post .list-button button{width: 48%;}

