.page-admin-posts .container_page {
    margin-left: 0px;
}

.page-admin-posts .container_page .sidebar {
    width: 70px;
    height: 100vh;
    background-color: gray;
    position: fixed;
    margin: 0px;
    top: 0px;
}

.page-admin-posts .form-control.select-option-top {
    margin-bottom: 10px;
    width: 200px;
    float: right;
    margin-right: 10px;
}

.page-admin-posts #table_posts {
    width: calc(100% - 70px);
    float: right;
}

#table_posts {
    border-collapse: collapse;
    width: 100%;
}

#table_posts td, #table_posts th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table_posts tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table_posts tr:hover {
    background-color: #ddd;
}

#table_posts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#table_posts .th-1 {width: 15%}
#table_posts .th-2 {width: 25%}
#table_posts .th-3 {width: 0%}
#table_posts .th-4 {width: 5%}
#table_posts .th-5 {width: 10%}
#table_posts .th-6 {width: 10%}
#table_posts .th-7 {width: 10%}
#table_posts .th-8 {width: 10%}
#table_posts .th-9 {width: 10%}
#table_posts .th-10 {width: 5%}

#table_posts select{ padding: 0px 5px 0px 5px;}

.media-body .row{
    margin-left: 50px;
}